- @temas.each_slice(25) do |row|
  .span3
    %table.table.table-hover
      - row.each do |tema|
        %tr
          %td
            %i.icon-music
          %td
            %span.badge= tema.votos
          %td= tema.nombre
