

$size-menu:   20px;

$font-1:      'Abel', sans-serif;
$font-2:      'bebas_neueregular';

$gray-dark:   #42474b;
$gray-light:  #474f52;
$gold:        #eda908;
$white:       #fafbee;
$yellow:      #FFC40D;
$red:         #d53529;
$black:       #333;

$bebas-min:      18px;
$bebas-1:        20px;
$bebas-title:    30px;
